[Desktop Entry]
Name=Rest Client
GenericName=Rest Client
Comment=A simple rest client for testing web api endpoints.
Categories=GTK;Utility;Internet;Development;
Exec=com.github.kebino.rest-client
Icon=/usr/share/icons/hicolor/scalable/apps/com.github.kebino.rest-client.svg
Terminal=false
Type=Application
Keywords=rest;api;web;client;