[Desktop Entry]
Name=Rest Client
GenericName=Rest Client
Comment=A simple rest client written in vala for testing web api endpoints.
Categories=GTK;Utility;Internet;
Exec=com.github.kebino.rest-client
Icon=application-default-Icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-again
Keywords=rest;api;web;client;